spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:database

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true

jwt:
  secret-key: Yn2kjibddFAWtnPJ2AFlL8WXmohJMCvigQggaEypa5E=

payment:
  toss:
    secret-key: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
    payment-url: https://api.tosspayments.com
    connect-time-out: 3000
    read-time-out: 30000
