spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:database
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    ddl-auto: create-drop
    defer-datasource-initialization: true

tosspay:
  secret_key: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6

resetwaiting:
  schedule:
    cron: 0 0 0 * * *

security:
  jwt:
    token:
      secret-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
      expire-length: 3600000

logging:
  level:
    org.springframework.transaction.interceptor: TRACE

springdoc:
  swagger-ui:
    path: /api-docs
    groups-order: desc
    tags-sorter: alpha
    operations-sorter: method
