spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:database
  jpa:
    hibernate.hbm2ddl.auto: validate
    defer-datasource-initialization: true
    properties:
      hibernate:
        show_sql: false
        format_sql: false
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  sql:
    init:
      schema-locations: classpath:sql/schema.sql
      mode: never

security:
  jwt:
    token:
      expire-length: 3600000
      secret-key: tecoroomescapememberwootecoroomescapememberwootecoroomescapemem

payment:
  secret-key: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
  base-url: https://api.tosspayments.com
  confirm-endpoint: /v1/payments/confirm
  cancel-endpoint: /v1/payments/%s/cancel

springdoc:
  swagger-ui:
    path: swagger-ui.html
