<configuration>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SQL_FILE"/>
        <appender-ref ref="WARN_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="roomescape" level="DEBUG"/>

    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

</configuration>
