<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방탈출 예약 페이지</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/toss-style.css">
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>

<!-- 결제창 ui -->
<div class="wrapper w-100">
    <div class="max-w-540 w-100">
        <div id="payment-method" class="w-100"></div>
        <div id="agreement" class="w-100"></div>
        <div class="btn-wrapper w-100">
            <button id="reserve-button" class="btn primary w-100">예약하기</button>
        </div>
    </div>
</div>

<script src="/js/payment.js"></script>

</body>
